.card {
  cursor: pointer;
}

button {
  margin-right: 10px;
}

.btn-highlight{
  border: 1px;
  background-color: #c5ecc5;
  border-radius: 19px;
}

.btn-highlight1{
  border: 1px;
  background-color: #f9ff95;
  border-radius: 19px;
}

.highlightBgColor{
  background-color: #3f95b1;
}

.clr{
  background-color: #4e9768;
}
.fontClr{
  font-size: 23px;
  color: gray;
}